# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists 
- List development environment open source tools used in data science
- A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. English
2. German
3. Spain

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools| 
| -------------| 
| Jupyter Notebooks | 
| Pytorch | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Krutikova Natallia